		body{
			background-color: lightgrey;
			background-size: 200px;
			font-size: 20px;
			font-family: "Times New Roman";
		}
		img{
			width: 100%;
			padding: 20px;
		}
		.container {
			background-color: lightblue;
			padding-bottom: 20px;
		}
        .navbar {
            background-color: lightblue;
            border: none;
            text-align: center;
        }
        #menu {
            margin: 20px;
        }