{%  extends "layout.html" %}
{% block content %}
    <section class="container">
		<section class="row">
			<article class="col-xs-12">
				<p>
					We are always looking for supporters to help us grow so that we can gain more support for the organizations out there that are doing
					the amazing work everyday. Feel free to email us or contact us by our postal address with any queries, we aim to respond within 2 working days.
				</p>
			</article>
		</section>
		<section class="row">
			<article class="col-xs-6">
				Our address:
				<ul>Supporting Our Future</ul>
				<ul>Unit 21</ul>
				<ul>Dunstan Business Park</ul>
				<ul>Lincoln</ul>
				<ul>Lincolnshire</ul>
				<ul>LN65 1LP</ul>
			</article>
			<article class="col-xs-6">
				Email Address:
				<ul>
					<a href="mailto:supportingourfuture@now.net">Supporting Our Future</a>
				</ul>
			</article>
		</section>
	</section>
{%  endblock %}