<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Supporting Our Future!</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">

</head>
<body>
	<section class="container">
        <img src="{{ url_for ('static', filename='images/sof1.gif')}}" alt="Supporting Our Future Logo"/>
    </section>
    <nav class="container">
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
			    <nav class="nav navbar-header">
				    <a class="navbar-brand" href="#">MENU</a>
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList">
	   				    <span class="icon-bar"></span>
           			    <span class="icon-bar"></span>
           			    <span class="icon-bar"></span>
				    </button>
			    </nav>
            </ul>
		    <ul id="myCollapsingList" class="nav navbar-nav navbar-collapse collapse">
                <li><a id="menu" href="{{ url_for('index') }}">Home</a></li>
                <li><a id="menu" href="{{ url_for('nyasfunding') }}">NYAS Funding</a></li>
                <li><a id="menu" href="{{ url_for('contactus') }}">Contact us</a></li>
		    </ul>
		</nav>
	</nav>

    {%  block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script href="{{ url_for ('static', filename='css/main.css') }}"></script>

</body>
</html>
