<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Supporting Our Future!</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">

</head>
<body>
	<section class="container">
        <img src="{{ url_for ('static', filename='images/sof1.gif')}}" alt="Supporting Our Future Logo"/>
		<nav class="navbar">
            <a id="menu" href="{{ url_for('index') }}">Home</a>
            <a id="menu" href="{{ url_for('nyasfunding') }}">NYAS Funding</a>
            <a id="menu" href="{{ url_for('contactus') }}">Contact us</a>
		</nav>
    </section>

    {%  block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
